<img src="http://www.hackerbundle.com/images/heap2.png" height="75px">
<img src="http://icons.iconarchive.com/icons/icons8/ios7/512/User-Interface-Plus-icon.png" height="75px">
<img src="https://static.mailchimp.com/web/brand-assets/mc_freddie_color_web.png" height="75px">
<p>Welcome to the MailChimp Integration Example</p>
{{#if accessToken}}
  <h3>Access Token: {{accessToken}}</h3>
  <h3>User Metadata:</h3>
  <pre>{{metadata}}</pre>
  <h3>Heap Analytics Actions:</h3>
  <label for="appId">Heap App ID*</label>
  <input type="text" id="appId" name="appId" value="215576508" placeholder="Required" autofocus>
  <p>
    <button id="userActivity">Send MailChimp User Activity</button>
    <button id="reports">Send MailChimp Reports</button>
  </p>
  <p id="message"></p>
  <a href="/oauth/mailchimp/unlink">Disconnect MailChimp</a>
{{else}}
  <a href="https://login.mailchimp.com/oauth2/authorize?{{params}}">Connect MailChimp</a>
{{/if}}

<script>
  {{# if accessToken}}
  var reportsButton = document.getElementById('reports');
  var userActivityButton = document.getElementById('userActivity');
  var message = document.getElementById('message');
  var appIdInput = document.getElementById('appId');
  var metadata = {{{metadata}}};
  var accessToken = '{{accessToken}}';

  reportsButton.addEventListener('click', function(event) {
    fetch('/reports', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        appId: appIdInput.value,
      })
    }).then(function(response) {
      if (response.ok) {
        message.innerText = 'Reports sent! Please check your Heap Analytics dashboard.';
      }
    });
  });
  userActivityButton.addEventListener('click', function(event) {
    fetch('/activity', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        appId: appIdInput.value,
        metadata: metadata,
        accessToken: accessToken
      })
    }).then(function(response) {
      if (response.ok) {
        message.innerText = 'User activity sent! Please check your Heap Analytics dashboard.';
      }
    });
  });
  {{/if}}
</script>